*.suo
*.exe
*.obj
*.vcproj.WIN-AAVTBMUMBC8.Administrator.user
*.pdb
*.dep
*.idb
*.manifest
*.htm
*.user
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.ncb
*.am

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath